.confirmation-button1{
    box-sizing: border-box;
    position: absolute;
    width: 177px;
    height: 56px;
    left: 1020px;
    top: 342px;

    background: #E79F9F;
    border: 1px solid #000000;
    border-radius: 10px;
}

.confirmation-button2{
    box-sizing: border-box;

    position: absolute;
    width: 177px;
    height: 56px;
    left: 1020px;
    top: 521px;

    background: #E79F9F;
    border: 1px solid #000000;
    border-radius: 10px;
}

.confirmation-button3{
    box-sizing: border-box;

    position: absolute;
    width: 177px;
    height: 56px;
    left: 1020px;
    top: 1072px;

    background: #E79F9F;
    border: 1px solid #000000;
    border-radius: 10px;
}

.confirmation-button4{
    box-sizing: border-box;

    position: absolute;
    width: 177px;
    height: 56px;
    left: 1020px;
    top: 1204px;

    background: #E79F9F;
    border: 1px solid #000000;
    border-radius: 10px;
}



.confirmation-paragraph1{
    position: absolute;
    width: 228px;
    height: 19px;
    left: 423px;
    top: 290px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #898686;
}

.confirmation-paragraph2{
    position: absolute;
    width: 947px;
    height: 40px;
    left: 250px;
    top: 185px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.confirmation-paragraph3{
    position: absolute;
    width: 351px;
    height: 37px;
    left: 250px;
    top: 279px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}
.confirmation-paragraph4{
    position: absolute;
    width: 295px;
    height: 49px;
    left: 250px;
    top: 324px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.confirmation-paragraph5{
    position: absolute;
    width: 295px;
    height: 49px;
    left: 560px;
    top: 324px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.confirmation-paragraph6{
    position: absolute;
    width: 263px;
    height: 53px;
    left: 250px;
    top: 373px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
}

.confirmation-paragraph7{
    position: absolute;
    width: 293px;
    height: 31px;
    left: 250px;
    top: 480px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.confirmation-paragraph8{
    position: absolute;
    width: 367px;
    height: 46px;
    left: 250px;
    top: 521px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.confirmation-paragraph9{
    position: absolute;
    width: 351px;
    height: 37px;
    left: 250px;
    top: 567px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.confirmation-paragraph10{
    position: absolute;
    width: 425px;
    height: 31px;
    left: 252px;
    top: 975px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.confirmation-paragraph11{
    position: absolute;
    width: 701px;
    height: 31px;
    left: 252px;
    top: 1022px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}

.confirmation-paragraph12{
    position: absolute;
    width: 367px;
    height: 46px;
    left: 252px;
    top: 1069px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    
    color: #000000;
}

.confirmation-paragraph13{
    position: absolute;
    width: 351px;
    height: 37px;
    left: 252px;
    top: 1115px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
}


