.signin-bigbox{
    position: absolute;
    width: 671px;
    height: 458px;
    left: 307px;
    top: 131px;

    background: #C4C4C4;
    border-radius: 20px;
}


.signin-textbox{
    position: absolute;
    width: 480px;
    height: 60px;
    left: 408px;
    top: 268px;

    background: #FFFFFF;
    border-radius: 10px;
}

.signin-textbox2{
    position: absolute;
    width: 480px;
    height: 60px;
    left: 408px;
    top: 348px;

    background: #FFFFFF;
    border-radius: 10px;
}



.signin-button1{
    box-sizing: border-box;
    position: absolute;
    width: 183px;
    height: 50px;
    left: 399px;
    top: 408px;

    background: #ACACAC;
    border: 1px solid #000000;
    border-radius: 10px;
    }

.signin-button2{
    box-sizing: border-box;
    position: absolute;
    width: 110px;
    height: 25px;
    left: 423px;
    top: 483px;
    
    background: #ACACAC;
    border: 1px solid #000000;
    border-radius: 10px;
}

.signin-button3{
    box-sizing: border-box;
    position: absolute;
    width: 183px;
    height: 50px;
    left: 689px;
    top: 483px;

    background: #ACACAC;
    border: 1px solid #000000;
    border-radius: 10px;
}

.signin-forgotpassword{
    position: absolute;
    width: 140px;
    height: 29px;
    left: 399px;
    top: 419px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #2D31A5;


}

.signin-textboxfont{
    position: absolute;
    width: 228px;
    height: 19px;
    left: 423px;
    top: 290px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #898686;
}

.signin-signinbox{
    box-sizing: border-box;
    position: absolute;
    width: 183px;
    height: 50px;
    left: 556px;
    top: 483px;

    background: #ACACAC;
    border: 1px solid #000000;
    border-radius: 10px;
}


.register-bigbox{
    position: absolute;
    width: 658px;
    height: 548px;
    left: 313px;
    top: 86px;
    background: #C4C4C4;
    border-radius: 20px;

}

.register-textbox1{
    position: absolute;
    width: 480px;
    height: 60px;
    left: 408px;
    top: 223px;

    background: #FFFFFF;
    border-radius: 10px;
}

.register-textbox2{
    position: absolute;
    width: 480px;
    height: 60px;
    left: 408px;
    top: 303px;

    background: #FFFFFF;
    border-radius: 10px;
}
.register-textbox3{
    position: absolute;
    width: 480px;
    height: 60px;
    left: 408px;
    top: 383px;

    background: #FFFFFF;
    border-radius: 10px;
}

.register-textbox4{
    position: absolute;
    width: 480px;
    height: 60px;
    left: 408px;
    top: 463px;

    background: #FFFFFF;
    border-radius: 10px;
}

.register-button1{
    box-sizing: border-box;
    position: absolute;
    width: 183px;
    height: 50px;
    left: 553px;
    top: 549px;

    background: #ACACAC;
    border: 1px solid #000000;
    border-radius: 10px;
}

