.sidebar-container{
    min-width: 100px;
    max-width: 250px;
}

.sidemenu{
    min-width: 200px;
    max-width: 250px;
}

.menu-link{
    color: #e1dedb !important;
}

.profile-pic{
    min-width: 100px;
    width: 10vw;
    height: auto;
}

.rating-star{
    color: yellow;
    font-size: 1.3rem;
    margin: 0.3rem;
}

.collapse-button {
    position: relative;
    height: 2.5rem;
    width: 3rem;
    left: 160px;
    top: 10px;
    z-index: 3;
}

.map-container {
    float:right;
    height: 50%;
    width: 50%;
}

.map-display {
    height: 100%;
    margin: 0;
}

.menu-group {
    height: 100% !important;
}

.menu-item{
    background-color: #5e1111 !important;
    width: 100%;
    height: 6.8vh;
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
}

.menu-item:hover{
    background-color: #e1dedb !important;
    color: #5e1111 !important;
    cursor: pointer;
    animation: 0.1s ease-in 0s 1 normal forwards running rise;
}

.card {
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.study-card {
    height: 92%;
    right: 5px;
}

.list-container {
    overflow: scroll;
    height: 70vh;
}

.results-container {
    height: 70vh;
}

@keyframes rise {
    from{
        bottom: 0px;
    }

    to{
        bottom: 5px;
    }
}

.profile-section {
    min-height: 30vh;
    max-height: 50vh;
    height: 100%;
}

.image-container {
    height: 80%;
    min-height: 50px !important;
}

@keyframes open {
    0%{
        left: 0px;
    }
    50%{
        left: 125px;
    }
    100%{
        left: 250px;
    }
}

@keyframes close {
    0%{
        right: 250px;
    }
    50%{
        right: 125px;
    }
    100%{
        right: 0px;
    }
}