.closedsidemenu {
    min-width: 250px;
    animation: close 0.5s linear 0.2s 1 normal forwards;
}

.opensidemenu {
    max-width: 250px;
    animation: open 0.5s linear 0.2s 1 normal forwards;
}

.sidemenu{
    min-width: 150px;
    max-width: 250px;
}

.star-group{
    position: relative;
    bottom: 1rem;
}

.rating-star{
    font-size: 1.5rem;
    margin: 0.3rem;
}

.collapse-button {
    position: relative;
    height: 2.5rem;
    width: 3rem;
    left: 160px;
    top: 10px;
    z-index: 3;
}

.menu-item{
    width: 100%;
    height: 10vh;
}

.menu-item:hover {
    background-color: #5e1111 !important;
    color: white !important;
}

.menu-group {
    width: 100%;
}

.profile-section {
    min-height: 50vh;
}

@keyframes open {
    0%{
        left: 0px;
    }
    50%{
        left: 125px;
    }
    100%{
        left: 250px;
    }
}

@keyframes close {
    0%{
        right: 250px;
    }
    50%{
        right: 125px;
    }
    100%{
        right: 0px;
    }
}